$color-red: #ff0000;
$color-green: #00FF00;
$color-blue-light: rgba(0, 163, 255, 0.28);
$color-blue: #00A3FF;
$color-blue-dark: #0095ff;
$color-grey-light: #e8e8e8;
$color-grey: #dddddd;
$color-grey-dark: rgba(162, 163, 164, .50);
$color-black: rgba(29, 42, 47, 0.94);