body {
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: hidden;
  overflow-y: visible;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.App {
  padding-top: 95px;
  text-align: center;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;

  form {
    width: 50vw;
  }
}

.hero-search {
  width: 50%;
}

.container-padded {
  background-color: #f6f6f6;
  padding: 0px 20px;
}

.pi {
  font-size: 1rem;
}

@media (max-width: 600px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95vw;

    form {
      width: 95vw;

      .search-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .p-inputwrapper {
          width: 100% !important;
        }

        .p-inputtext {
          width: 100%;
          margin-bottom: 10px;
        }

        .p-button {
          width: 100%;
        }
      }
    }
  }

  .container-padded {
    padding: 0px 10px !important;
  }
}

.search-button {
  display: flex;
  justify-content: center;
}


.normaliseIMG {
  align-items: center !important;
  justify-content: center !important;
}

.topicsNorm {
  @media (max-width: 767px) {
    margin-right: -10px;
  }
}