@import 'src/global_styles/colors.scss';

.column {
  display: flex;
  width: 33.33333%;
  padding: 15px;
  @media (max-width: 1300px) {
    width: 50%;
  }
  @media (max-width: 700px) {
    width: 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  text-align: center;
  border: solid $color-grey-dark 1px;
  border-radius: 2px;
  padding: 15px;
  -webkit-box-shadow: 3px 4px 8px 0 rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 3px 4px 8px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 3px 4px 8px 0 rgba(34, 60, 80, 0.2);
  cursor: auto;
  position: relative;
}

.avatar {
  display: flex;
  min-width: 50px;
  min-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  overflow: hidden;
  margin-right: 15px;
}









.navButtonWrapper{
  border:1px solid $color-grey-dark;
  border-left: 0;
  display: flex;
  border-radius: 3px;
  overflow: hidden;

  animation: forwards;
  animation-duration: 3s;
  animation-name: avatarUp;
  animation-delay: 2s;
}


@keyframes avatarUp {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1.0;
  }
}











.avatar > img {
  width: 50px;
  height: 50px;
}

h3 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  color: $color-black;
}

.author {
  font-weight: 400;
  font-size: 20px;
  color: $color-black;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
  flex: 1 1 auto;
  min-width: 100%;
}

.border {
  border: 1px solid $color-grey-dark;
  border-radius: 2px;
}


.views, .stars {
  display: flex;
  align-items: center;
  margin-right: 25px;
  color: #1D2A2FEF;
}

.views:hover, .stars:hover {
 color: rgba(49, 69, 89, 0.94);
}



.views > svg, .stars > svg {
  margin-right: 8px;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1 1 auto;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 35px;
  height: 35px;
  max-width: 106px;
  min-width: 106px;
  flex: 1 1 auto;
  border: 2px solid $color-blue;
  color: $color-blue;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color .5s;
  font-size: 16px;
  font-weight: 700;
  margin-left: 20px;
}

.details:hover {
  color: #ffffff;
  background-color: $color-blue;
}

.removeHolder{
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.remove{
 cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  color: #565656;
  transition: color .4s ;

}

.remove:hover{
  color: #212121;

}






