@import 'src/global_styles/colors.scss';

.block {
  display: flex;
  flex: 1 1 auto;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  cursor: auto;
}

.form {
  display: flex;
  //background-color: $color-blue;
  padding: 30px;
  box-sizing: border-box;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  animation: forwards;
  animation-duration: .6s;
  animation-name: commentUp;
  transition: .6s;

  @media (max-width: 500px) {
    padding: 20px;
  }
}

@keyframes commentUp {
  from {
    background-color: rgba(0, 163, 255, 0);
  }

  to {
    background-color: #00A3FFFF;
  }
}


.id {
}

.input {
  display: flex;
  min-width: 100%;
  height: 40px;
  max-height: 40px;
  border: 0;
  border-radius: 0;
  padding: 5px;
  margin: 0 0 15px;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.textarea {
  display: flex;
  min-width: 100%;
  border: 0;
  border-radius: 0;
  padding: 5px;
  align-items: flex-start;
  margin: 0 0 15px;
  flex-wrap: wrap;
  resize: none;
  font-family: 'Roboto', sans-serif;
  height: 66px;
  outline: 0;
  border: 0;
  font-size: 16px;

  @media (max-width: 811px) {
    max-width: 100%;
  }

  @media (max-width: 400px) {
    max-width: 100%;
  }
}

.buttonsholder {
  display: flex;
  min-width: 100%;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
}


.button {
  display: flex;
  width: 40px;
  background-color: #ffffff;
  color: $color-blue;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.button:hover {
  display: flex;
  width: 40px;
  background-color: #9fcbe7;
  color: $color-blue;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.success {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: $color-blue;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #ffffff;
  padding: 30px;
  opacity: 0.8;
  animation: forwards;
  animation-duration: 6s;
  animation-name: successDown;
  animation-timing-function: ease-in;
}

.success > p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 25px;
}


@keyframes successDown {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.1;
  }
}