.block {
  width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;

  @media (max-width: 1440px) {
    display: flex;
    flex-direction: column;
      width: 100%;
    min-width: 100%;
  }
}