.dropdownwrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-left: 15px;
  flex: 1 1 auto !important;
  position: absolute;
  @media (max-width: 700px) {
    display: none;
  }
}