@import 'src/global_styles/colors.scss';

.process {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  @media (max-width: 500px) {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.h3 {
  font-size: 30px;
  color: $color-blue;
  margin-bottom: 30px;
}

